html {
  overflow: hidden;
  background: var(--app_background, #242424);
}

body {
  color: var(--text_accent);
  font-family: Geist, sans-serif;
  font-variant: no-common-ligatures;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  background: var(--app_background, #242424);
}

p:not([class]),
ul:not([class]),
ol:not([class]),
table:not([class]),
img:not([class]),
hr:not([class]),
fieldset:not([class]) {
  margin: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

img:not([class]) {
  max-width: 100%;
}

a {
  color: var(--primary);
  text-decoration: none;
  transition: .25s ease-in-out;
  transition-property: color, border-color;

  &:hover,
  &:focus-visible {
    color: var(--primary_hover);
  }

  &:active {
    color: var(--primary_active);
  }
}

b:not([class]),
strong:not([class]) {
  font-weight: 700;
}
