@mixin placeholder($color, $fontSize: inherit, $fontWeight: inherit, $fontFamily: inherit, $opacity: 1) {
  &::-webkit-input-placeholder {
    color: #{$color};
    font-family: #{$fontFamily};
    font-size: #{$fontSize};
    font-weight: #{$fontWeight};
    opacity: #{$opacity};
  }

  &::-moz-placeholder {
    color: #{$color};
    font-family: #{$fontFamily};
    font-size: #{$fontSize};
    font-weight: #{$fontWeight};
    opacity: #{$opacity};
  }

  &::-ms-input-placeholder {
    color: #{$color};
    font-family: #{$fontFamily};
    font-size: #{$fontSize};
    font-weight: #{$fontWeight};
    opacity: #{$opacity};
  }

  &::placeholder {
    color: #{$color};
    font-family: #{$fontFamily};
    font-size: #{$fontSize};
    font-weight: #{$fontWeight};
    opacity: #{$opacity};
  }
}
